{% extends "base/index.html"%}
{% block title %}Order{% endblock title %}
{% block content %}
<div class="col-lg-9 box-booking">

    <div class="row status">
        <div class="col-lg-6 status-yard">
            <a href="{% url "cart"%}">Dang xu ly</a>
        </div>
        <div class="col-lg-6 status-yard">
            <a href="{% url "history"%}"><b><u>Lich su</u></b></a>
        </div>
    </div>

    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Yard</th>
      <th scope="col">Time</th>
      <th scope="col">Cost</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for cart in cart%}
    <tr>
      <th scope="row">{{cart.name}}</th>
      <td>{{cart.yard}}</td>
      <td>{{cart.time}}</td>
      <td>{{cart.cost}}</td>
      <td>
        {{cart.status}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock content %}
