<div class="comment-section">
    <div class="form">
        {% if user.username %}
            <form action="{% url 'detail' detail.id %}" method="POST">
                {% csrf_token %}
                {{form.body}}
                <br/>
                <input class="btn btn-success submit-cmt" type="submit" value="Bình luận"/>
            </form>
        {% endif %}
    </div>
    <div class="content-comment">
        {% for comment in comment %}
        <div class="element-cmt">
            <h4><strong>{{comment.author}}</strong></h4>
        <p>{{comment.body|linebreaks}}</p>
        <button type="button" name="reply-btn" class="reply-btn">Trả lời</button>
        <div class="reply">
            {% if user.username %}
                <form action="{% url 'detail' detail.id %}" method="POST">
                {% csrf_token %}
                {{form.body}}
                <input type="hidden" name="comment_id" value="{{comment.id}}">
                <br/>
                <input class="btn btn-success submit-cmt" type="submit" value="Trả lời"/>
            </form>
            {% endif%}
            {% for reply in comment.replies.all %}
                <h5><strong>{{reply.author}}</strong></h5>
                <p>{{reply.date}}</p>
                <p>{{reply.body|linebreaks}}</p>
                <hr>
            {% endfor %}

        </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>

<script>
    var replyBtn = Array.from(document.getElementsByClassName("reply-btn"));
    var reply = Array.from(document.getElementsByClassName("reply"));
    var temp = 0;

    replyBtn.forEach(function(item, index) {
        item.addEventListener("click", function(e) {
            if(temp % 2 == 0) {
                reply[index].style.display = "block";
            }else {
                reply[index].style.display = "none";
            }
            temp++;
        })
    })
</script>
