{% extends "base/index.html" %}
{% block title%} Detail {% endblock title%}
{% block content%}
<div class="col-lg-9 content">
    <div class="row">
        <div class="col-xl-10">
            <h3>{{ detail.name }}</h3>
        </div>
    <div class="col-sm-2">
        <a href="{% url "time_booking" detail.id %}" class="btn btn-primary">Booking</a>
    </div>
    <div class="col-xl-12">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
    </div>
    <div class="col-xl-12 location">
    <p>Adress: {{detail.address}}</p>
    <p>SDT: {{detail.phone}}</p>
    </div>
    <div class="col-xl-12">
    <p class="content-yard">
        {{detail.description|safe}}
    </p>
    </div>

    <h3>Bình luận</h3>
    <hr>
</div>
{% include "base/comment.html" %}
</div>
{% endblock content%}
