{% extends "base/index.html" %}
{% block title%} Chi tiết {% endblock title%}
{% load static %}
{% block content%}
<div class="col-lg-9 content">
    {% for message in messages %}
        <p id="success">{{message}}</p>
    {% endfor %}
    <div class="row">
        <div class="col-xl-10">
            <h3>{{ detail.name }}</h3>
        </div>
    <div class="col-sm-2">
        <a href="{% url "time_booking" detail.id %}" class="btn btn-primary">Đặt sân</a>
    </div>
    <div class="col-xl-12 rating">
        <form class="rate-form" method="POST" id="{{rating.id}}">
            {% csrf_token %}
            <button type="submit" class="fa fa-star fa-2x btn-rating" id="first"></button>
            <button type="submit" class="fa fa-star fa-2x btn-rating" id="second"></button>
            <button type="submit" class="fa fa-star fa-2x btn-rating" id="third"></button>
            <button type="submit" class="fa fa-star fa-2x btn-rating" id="fourth"></button>
            <button type="submit" class="fa fa-star fa-2x btn-rating" id="fifth"></button>
        </form>
        <div id="confirm-box"></div>
    </div>
    <br>

    <div class="col-xl-12 location">
    <p>Địa chỉ: {{detail.address}}</p>
    <p>SDT: {{detail.phone}}</p>
    </div>
    <div class="col-xl-12 body-detail">
    <p class="content-yard">
        {{detail.description|safe}}
    </p>
    </div>

    <h3>Bình luận</h3>
    <hr>
</div>
{% include "base/comment.html" %}
</div>
{% endblock content%}
