<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{cart.id}}">Xu ly</a>

<div class="modal fade" id="exampleModal{{cart.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{cart.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5>Mã sân: {{cart.code}}</h5>
        <h5>Loại sân: {{cart.type}}</h5>
        <h5>Thời gian: {{cart.time}}</h5>
        <h5>Giá tiền: {{cart.cost}}</h5>
        <br>
        <div class="row">
        <div class="col-xl-6">
            {% include "base/payment.html" %}
        </div>

        <div class="col-xl-6">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{cart.booking_id}}" name="booking_id">
                <input type="hidden" value="TC" name="handle">
                <input type="submit" value="Từ chối" class="btn btn-danger">
            </form>
        </div>
    </div>
    </div>
</div>
</div>
