<div class="col-lg-3">
    <h1 class="my-4">Location</h1>
    <div class="list-group">
        <a href="#" class="list-group-item">Thanh Khê</a>
        <a href="#" class="list-group-item">Sơn Trà</a>
        <a href="#" class="list-group-item">Ngũ Hành Sơn</a>
        <a href="#" class="list-group-item">Liên Chiểu</a>
        <a href="#" class="list-group-item">Hải Châu</a>
        <a href="#" class="list-group-item">Cẩm Lệ</a>
        <a href="#" class="list-group-item">Hoà Vang</a>
    </div>
</div>
