<div class="col-lg-3">
    <h1 class="my-4">Vị trí</h1>
    <div class="list-group">
        <a href="{% url "tk" %}" class="list-group-item" id="tk">Thanh Khê</a>
        <a href="{% url "st" %}" class="list-group-item" id="st">Sơn Trà</a>
        <a href="{% url "nhs" %}" class="list-group-item" id="nhs">Ngũ Hành Sơn</a>
        <a href="{% url "lc" %}" class="list-group-item" id="lc">Liên Chiểu</a>
        <a href="{% url "hc" %}" class="list-group-item" id="hc">Hải Châu</a>
        <a href="{% url "cl" %}" class="list-group-item" id="cl">Cẩm Lệ</a>
        <a href="{% url "hv" %}" class="list-group-item" id="hv">Hoà Vang</a>
    </div>
</div>
