{% extends "base/index.html"%}
{% block title %}Order{% endblock title %}
{% block content %}
<div class="col-lg-9 box-booking">

    <div class="row status">
        <div class="col-lg-6 status-yard">
            <a href="{% url "cart"%}"><b><u>Dang xu ly</u></b></a>
        </div>
        <div class="col-lg-6 status-yard">
            <a href="{% url "history"%}">Lich su</a>
        </div>
    </div>

    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Yard</th>
      <th scope="col">Time</th>
      <th scope="col">Cost</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    {% for cart in cart%}
    <tr>
      <th scope="row">{{cart.name}}</th>
      <td>{{cart.yard}}</td>
      <td>{{cart.time}}</td>
      <td>{{cart.cost}}</td>
      <td>
        {% include "base/handle_booking.html" %}
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
    <p> Tong tien: {{total}}vnd</p>{% include "base/payment.html" %}
</div>
{% endblock content %}
