{% extends "base/index.html"%}
{% block title %} Signup {% endblock title%}
{% block content %}
<div class="col-lg-9">
    <form method="POST" id="signup_form">
        {% csrf_token %}
        <div class="title-form"><h3>Registration Form</h3></div>
        <div class="form-wrapper">
            <label>Username</label>
            {{form.username}}
        </div>
        <div class="form-wrapper">
            <label>First Name</label>
            {{form.first_name}}
        </div>
        <div class="form-wrapper">
            <label>Last Name</label>
            {{form.last_name}}
        </div>
        <div class="form-wrapper">
            <label>Email</label>
            {{form.email}}
        </div>
        <div class="form-wrapper">
            <label>Password</label>
            {{form.password1}}
        </div>
        <div class="form-wrapper">
            <label>Confirm Password</label>
            {{form.password2}}
        </div>
        <button type="submit" class="signup">Register Now</button>
    </form>
</div>
{% endblock content %}
