{% extends "base/index.html" %}
{% block title %} Booking yard {% endblock %}

{% block content%}
    <div class="col-lg-9 content">
        <div class="row status">
            <div class="col-lg-3 status-yard">
                <a href="{% url "manage_booking"%}">San Xu ly</a>
            </div>
            <div class="col-lg-3 status-yard">
                <a href="{% url "location_accept"%}"><b><u>San Xac nhan</u></b></a>
            </div>
            <div class="col-lg-3 status-yard">
                <a href="{% url "location_open"%}">San trong</a>
            </div>
            <div class="col-lg-3 status-yard">
                <a href="{% url "location_close"%}">San da dong</a>
            </div>
        </div>
        <table class="table border-bodered table-manager">
            <thead>
            <tr>
                <th scope="col"> Nguoi thue </th>
                <th scope="col"> Loai san </th>
                <th scope="col"> Gio </th>
                <th scope="col"> Ngay </th>
                <th scope="col"> Chi tiet </th>
            </tr>
        </thead>
        <tbody>
            {% for booking in booking %}
            <tr>
                <td> {{booking.user}} </td>
                <td> {{booking.code}} </td>
                <td> {{booking.time}} </td>
                <td> {{booking.date|date:"d-m-Y"}} </td>
                <td>
                    {% include "manage/detail_booking.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
