{% extends "base/index.html" %}
{% block title %} Booking yard {% endblock %}

{% block content%}
    <div class="col-lg-9 content">
        <div class="row status">
            <div class="col-lg-3 status-yard">
                <a href="{% url "manage_booking"%}">San Xu ly</a>
            </div>
            <div class="col-lg-3 status-yard">
                <a href="{% url "location_accept"%}">San xac nhan</a>
            </div>
            <div class="col-lg-3 status-yard">
                <a href="{% url "location_open"%}"><b><u>San trong</u></b></a>
            </div>
            <div class="col-lg-3 status-yard">
                <a href="{% url "location_close"%}">San da dong</a>
            </div>
        </div>
        {% include "manage/add_booking.html" %}
        <table class="table border-bodered table-manager">
            <thead>
            <tr>
                <th scope="col"> Loai san </th>
                <th scope="col"> Ngay </th>
                <th scope="col"> Gio </th>
                <th scope="col"> Trang thai </th>
                <th scope="col"> Xu ly </th>
            </tr>
        </thead>
        <tbody>
            {% for booking in booking %}
            <tr>
                <td> {{booking.code}} </td>
                <td> {{booking.date|date:"d-m-Y"}} </td>
                <td> {{booking.time}} </td>
                <td> {{booking.status}} </td>
                <td>
                    {% include "manage/handle.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
