{% extends "base/index.html" %}
{% block title %} Xóa sân {% endblock %}

{% block content%}
    <div class="col-lg-9 content">
        <form method="POST">
            <div class="card text-center">
                <div class="card-header">
                    Bạn có chắc chắn muốn xóa sân
                </div>
                <div>{{yard.code}}</div>
                <div class="card-body">
                    {% csrf_token %}
                    <input type="submit" value="Xóa" class="btn btn-danger">
                    <a href="{% url "manage_yard" %}" class="btn btn-primary">Trở về</a>
                </div>
                </div>
        </form>
    </div>
{% endblock %}
