{% extends "base/index.html" %}
{% block title %} Chi tiết sân {% endblock %}

{% block content%}
    <div class="col-lg-9 content">
        <form method="POST">
            <br>
            {% csrf_token %}
            <div>
                <label>Mã sân</label>
                {{form.code}}
            </div>
            <div>
                <label>Loại sân</label>
                {{form.type}}
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Lưu">
            <a href="{% url "create_time" yard.id %}" class="btn btn-info ">Giá tiền</a>
        </form>
    </div>
{% endblock %}
