{% extends "base/index.html" %}
{% block title %} Quản lý sân {% endblock %}

{% block content%}
    <div class="col-lg-9 content">
        <div class="card card-total">
            <div class="card-body">
                <a href="{% url "create_yard" %}" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <table class="table border-bodered table-manager">
            <thead>
            <tr>
                <th scope="col"> Mã sân </th>
                <th scope="col"> Loại sân </th>
                <th scope="col"> Tùy chọn </th>
            </tr>
        </thead>
        <tbody>
            {%for yard in yard%}
            <tr>
                <td> {{yard.code}} </td>
                <td> {{yard.type}} </td>
                <td>
                    <a href="{% url "update_yard" yard.id %}" class="btn btn-success">Sửa</a>
                    <a href="{% url "delete_yard" yard.id %}" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
        </table>
    </div>
{% endblock %}
